<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storeapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.StoreApp">
        <activity
            android:name=".Activity.Login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Dialog.NoInternet.NoInternetActivity"
            android:exported="true"
            android:theme="@style/DialogTouchFalse" />
        <activity
            android:name=".Activity.Splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Main.MainActivity"
            android:exported="true" />
    </application>

</manifest>